{{ include("base/navbar.html.twig") }}

<!-- Page Content -->
        <div class="container">
            <div class="row">
                <a href="{{ path('user_create') }}" class="btn btn-primary">Créer un utilisateur</a>

                {% if app.user %}
                <a href="{{ path('logout') }}" class="pull-right btn btn-danger">Se déconnecter</a>
                {% endif %}

                {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                <a href="{{ path('login') }}" class="btn btn-success">Se connecter</a>
                {% endif %}
            </div>
{{ include("base/notification.html.twig") }}