{{ include("base/navbar.html.twig") }}
        <div class="container">
            <div class="d-flex flex-row-reverse my-4">
                {% if app.user %}
                    <a href="{{ path('app_logout') }}" class="pull-right btn btn-danger">Se déconnecter</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('user_create') }}" class="btn btn-primary">Créer un utilisateur</a>
                    {% endif %}
                {% endif %}

                {% if not app.user %}
                    <a href="{{ path('app_login') }}" class="btn btn-success">Se connecter</a>
                {% endif %}
            </div>
{{ include("base/notification.html.twig") }}