{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <a href="{{ path('task_create') }}" class="btn btn-info pull-right">Créer une tâche</a>
    <div class="row">
        {% for task in tasks %}
        <div class="card text-dark bg-light col-sm-4 col-lg-4 col-md-4 m-2" style="width: 19rem;">
            <div class="card-body">
                <h5 class="card-title"><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h5>
                <p class="card-text" style="text-align:justify;">{{ task.content }}</p>
                <div class="d-flex justify-content-between">
                    <a href="{{ path('task_toggle', {'id' : task.id }) }}" class="btn btn-success btn-sm">{% if not task.isDone %}Marquer comme faite{% else %}Marquer non terminée{% endif %}</a>
                    {% if is_granted("ROLE_ADMIN") or  task.user == app.user%}
                        <a href="{{ path('task_delete', {'id' : task.id }) }}" class="btn btn-danger btn-sm pull-right">Supprimer</a>
                     {% endif %}
                </div>
                <footer class="blockquote-footer pt-4">Créé le {{ task.createdAt|date("d/m/Y") }}
                    <cite title="Propriétaire" class="text-decoration-underline"> par {{task.user.username|capitalize}}</cite>
                </footer>
            </div>
        </div>
        {% else %}
            <div class="alert alert-warning" role="alert">
                Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
